.statusbar-container {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

div#statusBar {
  background-color: lightgrey;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  min-height: 50px;
  display: flex;
  align-items: center;
}

#statusMessage {
  padding-left: 10px;
}

.statusbar-right {
  padding-right: 10px;
}
